<div class="check-list">
	<ul class="list-group">
		<% @checklistItems.each do |item| %>
			<li class="list-group-item">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" value="">
			    <%= item %>
			  </label>
			</li>
  	<% end %>
	</ul>
</div>

