<div class="check-list">
	<% @checklistItems.each do |item| %>
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    <%= item %>
  </label>
  <% end %>
</div>

