<div class="card">
  <div class="card-body">
    <h4 class="card-title">Mosquito Fish</h4>
    <h6 class="card-subtitle mb-2 text-muted">Hillsborough County Mosquitp Control</h6>
    <p class="card-text">
      Free Mosquito Larva Eating Fish for Water Sources that Can't be Removed
    </p>
    <a href="http://www.hillsboroughcounty.org/en/newsroom/2017/05/09/mosquitos-worst-enemy-is-free" class="card-link btn btn-primary">More info</a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Preventing Mosquitoes</h4>
    <h6 class="card-subtitle mb-2 text-muted">Hillsborough County Mosquitp Control</h6>
    <p class="card-text">
      Tips on protecting yourself from mosquitoes and removing mosquito breeding grounds.
    </p>
    <a href="http://www.hillsboroughcounty.org/en/residents/property-owners-and-renters/mosquito-control/preventing-mosquitoes" class="card-link btn btn-primary">More info</a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Use mosquito repellent</h4>
    <h6 class="card-subtitle mb-2 text-muted">University of Florida</h6>
    <p class="card-text">
      Use mosquito repellent with active ingredients of DEET, Picaridin, Oil of Lemon Eucalyptus, PMD, or IR3535
    </p>
    <a href="https://edis.ifas.ufl.edu/pdffiles/IN/IN104500.pdf" class="card-link btn btn-primary">Learn More</a>
  </div>
</div>