<!DOCTYPE html>
<html lang="en">

  <head>

		<style>
		html,
		body {
		  height: 100%;
		  background-color: #333;
		  /*color: #fff;*/
		  /*text-align: center;
		  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);*/
		  font-family: 'Montserrat';
		        font-size: 16px;
		}
		</style>

    <title>Digital Mosquito Inspector</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
