<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<title>Digital Mosquito Inspector</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag	   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">

			<div class="navbar-header">

				<img alt="Brand" class="icon" src="https://www.iconexperience.com/_img/g_collection_png/standard/256x256/mosquito.png">
				<a class="navbar-brand" href="#">Digital Inspector</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
					<li><a href="#">About</a></li>
				</ul>

			</div>
		</div>
	</nav>
	<%= yield %>
	</body>
</html>
